[submodule "Server"]
	path = Server
	url = https://github.com/JohannaLatt/SHM-Server.git
[submodule "Mirror"]
	path = Mirror
	url = https://github.com/JohannaLatt/SHM-Mirror.git
[submodule "Kinect"]
	path = Kinect
	url = https://github.com/JohannaLatt/SHM-Kinect.git
